Step 1. Clone git repo.

	1) Changed into the directory where you want the repo saved. 

	2) Clone git repo to the directory with the following command. git clone https://github.com/samuelparkin1/vehicle_register.git

Step 2. Setup virtual enviroment. 

	1) setup a virtual enviroment with the following command. virtualenv venv

	2) Activate virtual enviroment with the following command. source venv/bin/activate.

Step 3. pip installs needed:
		run the follow command in terminal window
			pip install -r requirements.txt
		The following should be installed.
		 	
		click==8.0.3
		Flask==2.0.2
		itsdangerous==2.0.1
		Jinja2==3.0.2
		MarkupSafe==2.0.1
		python-dotenv==0.19.1
		Werkzeug==2.0.2