Step 1. Clone git repo.

	1) Changed into the directory where you want the repo saved. 

	2) Clone git repo to the directory with the following command. git clone https://github.com/samuelparkin1/vehicle_register.git

Step 2. Setup virtual enviroment. 

	1) setup a virtual enviroment with the following command. virtualenv venv

	2) Activate virtual enviroment with the following command. source venv/bin/activate.

Step 3. 