{% extends "base.html" %}
{% block content %}
    <hr>
    <div>
        <h2>New Vehicle</h2>
        <div>
            <form action="/vehicles/" method="POST">
                <input type="text" name="vehicle_rego" placeholder="Vehicle rego...">
                <input type="text" name="vehicle_make" placeholder="Vehicle Make...">
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Vehicle List</h2>
    <div class="container-sm">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>    
                    <th>Vehicle Rego</th>
                    <th>Vehicle Make </th>
                    <th>Vehicle Checkout</th>
                    <th>Edit</th>
                </tr>
            </thead>
            {% for vehicle in page_data.vehicles %}
            <tbody>
                <tr>
                    <td>
                        {{ vehicle.vehicle_rego }}
                    </td>

                    <td>
                        {{ vehicle.vehicle_make }}
                    </td>

                    <td>
                        {% if vehicle.vehicle_checked_out %}
                            <P> Vehicle unavailable</P>
                        {% else %}

                        <form action="/vehicles/" method="POST">
                            <button class="btn btn-primary" name="vehicle_checked_out" type="submit" value= True>Checkout</button>
                        </form>

                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/vehicles/{{ vehicle.vehicle_id }}/">Edit</a><br/>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}